<ion-view view-title="Konik Tank" class="deneme">
  <ion-content class="animated rollIn">
    


<li class="item item-toggle">
     <h3>Konik Havuz / Tank Boyutlandırma   </h3>
     <label class="toggle toggle-positive">
       <input type="checkbox" ng-model="k_havuz" ng-init="havuz=false">
       <div class="track">
         <div class="handle"></div>
        </div>
     </label>
</li>

<div  ng-if="k_havuz == true"> 
   
    <div class="card animated fadeInDown ">
      <div class="item item-text-wrap carddikeybosluk">
          <div class="bar bar-header bar-balanced">
              <h1 class="title">Konik Havuz / Tank Boyutlandırma </h1>
        </div><br><br><br>
   
<div class="col col1"></div>

   
            <div class="row row1">
              <div class="col"><h4 class="d_ort">Debi</h4> </div>
              <div class="col ">(m<sup>3</sup>/sa)</div>
              <div class="col"><input class="input3" type="number" ng-model="debi_k"></div>
            </div>
            <hr>
            <div class="row row1">
              <div class="col"><h4 class="d_ort">Bekleme Süresi</h4></div>
              <div class="col">Saat</div>
              <div class="col"><input class="input3" type="number" ng-model="t_sa"></div>
            </div>
            <hr>
            <div class="row row1">
              <div class="col"><h4 class="d_ort">Bekleme Süresi</h4></div>
              <div class="col">Dakika</div>
              <div class="col"><input class="input3" type="number" ng-model="t_dk"></div>
            </div>
            <hr>
            <div class="row row1 ">
              <div class="col"><h4 class="d_ort">Konik Oranı</h4></div>
              <div class="col">Yüzde (%)</div>
              <div class="col"><input class="input3" type="number" ng-model="k_oran"></div>
            </div>
            <hr>
            <div class="row row1">
              <div class="col"><h4 class="d_ort">Emniyet Payı</h4></div>
              <div class="col">Yüzde (%)</div>
              <div class="col"><input class="input3" type="number" ng-model="emniyet_k"></div>
            </div>
           
{{error5}}
<button class="button button-full button-positive" ng-click="konikhacim(debi_k,t_sa,t_dk,k_oran,emniyet_k)" 
ng-model="deneme" ng-init="deneme=false" >
Hesapla
</button>

            <div class="row row1">
              <div class="col"><h4 class="d_ort">Hacim </h4></div>
              <div class="col">(m<sup>3</sup>/sa)</div>
              <div class="col">{{c_v}} </div>
            </div>
            <hr>
            <div class="row row1">
              <div class="col"><h4 class="d_ort">Emniyetli hacim</h4></div>
              <div class="col">(m<sup>3</sup>/sa)</div>
              <div class="col">{{c_e_v}}</div>
            </div>
            <hr>
            <div class="row row1">
              <div class="col"><h4 class="d_ort">Silindir Hacim</h4></div>
              <div class="col">(m<sup>3</sup>/sa)</div>
              <div class="col">{{c_s_v}}</div>
            </div>
            <hr>
            <div class="row row1">
              <div class="col"><h4 class="d_ort">Konik Hacim</h4></div>
              <div class="col">(m<sup>3</sup>/sa)</div>
              <div class="col">{{c_k_v}}</div>
            </div> 
            <hr> 
            
              
            
            <div class="animated fadeInLeft" ng-if="c_e_v">
              
              
                <li class="item item-toggle">
                    <h3>Yüksekliğe göre değişim </h3>
                    <label class="toggle toggle-positive">
                      <input type="checkbox" ng-model="silyuk" ng-init="a=false">
                        <div class="track">
                          <div class="handle"></div>
                        </div>
                    </label>
                  </li>
                
              
                    <div ng-if="silyuk == true">
                          <div class="row row1 animated fadeInLeft">
                      
                              <div class="col"><h4 class="d_ort">Silindir yükseklik</h4></div>
                              <div class="col">m</div>
                              <div class="col"><input class="input3" type="number" ng-model="sil_yuk"></div>
                          </div>
                        
                          <div class="item range range-positive animated fadeInLeft">
                              {{ust}}
                            <input type="range" name="volume" min="0" max="100"  ng-model="swipe" ng-change="swp(swipe,sil_yuk)">
                            
                          </div>
          
                          
                          <div class="row row1 animated fadeInLeft">
                            <div class="col"><h4 class="d_ort">Yarıçap</h4></div>
                            <div class="col">m</div>
                            <div class="col">{{r_m}} </div>
                          </div>
                          <hr>

                          <div class="row row1 animated fadeInLeft">
                            <div class="col"><h4 class="d_ort">Yarıçap</h4></div>
                            <div class="col">cm</div>
                            <div class="col">{{r_cm}}</div>
                          </div>
                          <hr>

                          <div class="row row1 animated fadeInLeft">
                            <div class="col"><h4 class="d_ort">Konik yükseklik</h4></div>
                            <div class="col">m</div>
                            <div class="col">{{konik_h}}</div>
                          </div>
                          <hr>

                          <div class="row row1 animated fadeInLeft">
                            <div class="col"><h4 class="d_ort">Koniklik Açısı</h4></div>
                            <div class="col">derece</div>
                            <div class="col" style="color: {{renk}}">{{konik_d}}</div>
                          </div> 
                          <hr>    
                    </div>

                  <li class="item item-toggle">
                      <h3>Yarıçapa göre değişim </h3>
                      <label class="toggle toggle-positive">
                        <input type="checkbox" ng-model="cap_m" ng-init="cap_m=false">
                          <div class="track">
                            <div class="handle"></div>
                          </div>
                      </label>
                    </li> 
                    <div ng-if="cap_m == true">
                        <div class="row row1 c">
                    
                            <div class="col"><h4 class="d_ort">Silindir çap</h4></div>
                            <div class="col">m</div>
                            <div class="col"><input class="input3" type="number" ng-model="cap1"></div>
                        </div>
                      
                        <div class="item range range-positive animated fadeInLeft">
                            {{ust1}}
                          <input type="range" name="volume" min="0" max="100"  ng-model="swipe1" ng-change="swp1(swipe1,cap1)">
                          
                        </div>
        
                        
                        <div class="row row1 animated fadeInLeft">
                            <div class="col"><h4 class="d_ort">silindir yükseklik</h4></div>
                            <div class="col">m</div>
                            <div class="col">{{k_s_h_m}} </div>
                          </div>
                          <hr>
                          <div class="row row1 animated fadeInLeft">
                            <div class="col"><h4 class="d_ort">Silindir yükseklik</h4></div>
                            <div class="col">cm</div>
                            <div class="col">{{k_s_h_cm}}</div>
                          </div>
                          <hr>
                          <div class="row row1 animated fadeInLeft">
                            <div class="col"><h4 class="d_ort">Konik yükseklik</h4></div>
                            <div class="col">m</div>
                            <div class="col">{{konik_h_s}}</div>
                          </div>
                          <hr>
                          <div class="row row1 animated fadeInLeft">
                            <div class="col"><h4 class="d_ort">Koniklik Açısı</h4></div>
                            <div class="col">derece</div>
                            <div class="col" style="color: {{renk1}}">{{konik_d_s}}</div>
                          </div> 
                          <hr>    
                  </div>



              </div>

  

      	</div>
    </div>
</div>



<!--
<button class="button button-dark" ng-click="deneme()">
  button-dark
</button>

{{sonuc}} -->


<li class="item item-toggle">
  <h3>Silindir Tabanlı Konik Havuz </h3>
  <label class="toggle toggle-positive">
    <input type="checkbox" ng-model="a" ng-init="a=false">
      <div class="track">
        <div class="handle"></div>
      </div>
  </label>
</li>



<label class="item item-input item-select" ng-if="a==true" >
  <div class="input-label">  
    <h3>Hesap yönteminizi seçiniz. </h3>
  </div>
  <select ng-model="$parent.g">
    <option value=1 >Silindir taban konik hacim</option>
    <option value=2 >Hacim & Yarıçapa bağlı yükseklik</option>
    <option value=3 >Hacim & Yükseklik bağlı yarıçap</option>
    <option value=4 >Hacim & Yarıçap bağlı yükseklik</option>
    <option value=5 >Yarıçap & Yükseklik bağlı hacim</option>
  </select>
</label>






<div  ng-if="g == 1 && a == true "> 

 <div class="card animated fadeInLeft">

  <div class="item item-text-wrap carddikeybosluk">
        
    <div class="bar bar-header bar-balanced">
          <h1 class="title">Silindir tabanlı konik hacim </h1>
    </div><br><br><br>

      
   
    <div class="col col1"></div>
    
       
                <div class="row row1">
                  <div class="col"><h4 class="d_ort">Silinidir hacim</h4> </div>
                  <div class="col ">(m<sup>3</sup>/sa)</div>
                  <div class="col"> {{c_s_v}}</div>
                </div>
                <hr>
                  <div class="row row1">
                    <div class="col"><h4 class="d_ort">Konik hacim</h4></div>
                    <div class="col">(m<sup>3</sup>/sa)</div>
                    <div class="col">{{c_k_v}}</div>
                  </div>
                  <hr>
                <div class="row row1">
                  <div class="col"><h4 class="d_ort">Silindir yükseklik</h4></div>
                  <div class="col">m</div>
                  <div class="col"><input class="input3" type="number" ng-model="s_h"></div>
                </div>
                <hr>
                
                
               
    
    <button class="button button-full button-positive" ng-click="konik_sil_hacim(s_h)">
    Hesapla
    </button>
    
                <div class="row row1">
                  <div class="col"><h4 class="d_ort">Yarıçap</h4></div>
                  <div class="col">m</div>
                  <div class="col">{{r_m}} </div>
                </div>
                <hr>
                <div class="row row1">
                  <div class="col"><h4 class="d_ort">Yarıçap</h4></div>
                  <div class="col">cm</div>
                  <div class="col">{{r_cm}}</div>
                </div>
                <hr>
                <div class="row row1">
                  <div class="col"><h4 class="d_ort">Konik yükseklik</h4></div>
                  <div class="col">m</div>
                  <div class="col">{{konik_h}}</div>
                </div>
                <hr>
                <div class="row row1">
                  <div class="col"><h4 class="d_ort">Koniklik Açısı</h4></div>
                  <div class="col">derece</div>
                  <div class="col">{{konik_d}}</div>
                </div> 
                <hr>           
            </div>
        </div>
    </div>

 </div>
</div>



<div  ng-if="g == 2 && a == true "> 

    <div class="card animated fadeInLeft">
   
     <div class="item item-text-wrap carddikeybosluk">
           
       <div class="bar bar-header bar-balanced">
             <h1 class="title">Hacim & Yarıçapa bağlı yükseklik</h1>
       </div><br><br><br>
   
         
      
       <div class="col col1"></div>
       
          
                   <div class="row row1">
                     <div class="col"><h4 class="d_ort">Silinidir hacim</h4> </div>
                     <div class="col ">(m<sup>3</sup>/sa)</div>
                     <div class="col"> {{c_s_v}}</div>
                   </div>
                   <hr>
                     <div class="row row1">
                       <div class="col"><h4 class="d_ort">Konik hacim</h4></div>
                       <div class="col">(m<sup>3</sup>/sa)</div>
                       <div class="col">{{c_k_v}}</div>
                     </div>
                     <hr>
                   <div class="row row1">
                     <div class="col"><h4 class="d_ort">Yarıçap</h4></div>
                     <div class="col">m</div>
                     <div class="col"><input class="input3" type="number" ng-model="r"></div>
                   </div>
                   <hr>
                   
                   
                  
       
       <button class="button button-full button-positive" ng-click="konik_sil_yuk(r)">
       Hesapla
       </button>
       
                   <div class="row row1">
                     <div class="col"><h4 class="d_ort">silindir yükseklik</h4></div>
                     <div class="col">m</div>
                     <div class="col">{{k_s_h_m}} </div>
                   </div>
                   <hr>
                   <div class="row row1">
                     <div class="col"><h4 class="d_ort">Silindir yükseklik</h4></div>
                     <div class="col">cm</div>
                     <div class="col">{{k_s_h_cm}}</div>
                   </div>
                   <hr>
                   <div class="row row1">
                     <div class="col"><h4 class="d_ort">Konik yükseklik</h4></div>
                     <div class="col">m</div>
                     <div class="col">{{konik_h_s}}</div>
                   </div>
                   <hr>
                   <div class="row row1">
                     <div class="col"><h4 class="d_ort">Koniklik Açısı</h4></div>
                     <div class="col">derece</div>
                     <div class="col">{{konik_d_s}}</div>
                   </div> 
                   <hr>           
               </div>
           </div>
       </div>
   
    </div>
   </div>
   


   <div  ng-if="g == 3 && a == true "> 

    <div class="card animated fadeInLeft">
   
     <div class="item item-text-wrap carddikeybosluk">
           
       <div class="bar bar-header bar-balanced">
             <h1 class="title">Hacim & Yüksekliğe bağlı yarıçap</h1>
       </div><br><br><br>
   
         
      
       <div class="col col1"></div>
       
          
                   <div class="row row1">
                     <div class="col"><h4 class="d_ort">Toplam hacim</h4> </div>
                     <div class="col ">(m<sup>3</sup>/sa)</div>
                     <div class="col"> <input class="input3" type="number" ng-model="toplam_hacim"></div>
                   </div>
                   <hr>
                     <div class="row row1">
                       <div class="col"><h4 class="d_ort">Konik oranı</h4></div>
                       <div class="col">%</div>
                       <div class="col"><input class="input3" type="number" ng-model="konik_oran"></div>
                     </div>
                     <hr>
                   <div class="row row1">
                     <div class="col"><h4 class="d_ort">Silindir Yükseklik</h4></div>
                     <div class="col">m</div>
                     <div class="col"><input class="input3" type="number" ng-model="silindir_h"></div>
                   </div>
                   <hr>
                   
                  {{error4}}
                  
       
       <button class="button button-full button-positive" ng-click="hacim_yuk_r(toplam_hacim,konik_oran,silindir_h)">
       Hesapla
       </button>
       
                   <div class="row row1">
                     <div class="col"><h4 class="d_ort">Silindir hacim</h4></div>
                     <div class="col">(m<sup>3</sup>/sa)</div>
                     <div class="col">{{sil_v}} </div>
                   </div>
                   <hr>
                   <div class="row row1">
                     <div class="col"><h4 class="d_ort">Silindir yükseklik</h4></div>
                     <div class="col">cm</div>
                     <div class="col">{{sil_h}}</div>
                   </div>
                   <hr>
                   <div class="row row1">
                     <div class="col"><h4 class="d_ort">Yarıçap</h4></div>
                     <div class="col">metre</div>
                     <div class="col">{{r_m1}}</div>
                   </div> 
                   <hr> 
                   <div class="row row1">
                    <div class="col"><h4 class="d_ort">Yarıçap</h4></div>
                    <div class="col">cm</div>
                    <div class="col">{{r_cm1}}</div>
                  </div> 
                  <hr>
                  <div class="row row1">
                    <div class="col"><h4 class="d_ort">Konik hacim</h4></div>
                    <div class="col">(m<sup>3</sup>/sa)</div>
                    <div class="col">{{konik_v}}</div>
                  </div> 
                  <hr>
                   <div class="row row1">
                     <div class="col"><h4 class="d_ort">Konik yükseklik</h4></div>
                     <div class="col">m</div>
                     <div class="col">{{konik_h1}}</div>
                   </div>
                   <hr>
                  <div class="row row1">
                    <div class="col"><h4 class="d_ort">Koniklik Açısı</h4></div>
                    <div class="col">derece</div>
                    <div class="col">{{konik_aci}}</div>
                  </div> 
                  <hr>          
               </div>
           </div>
       </div>
   </div></div>


   <div  ng-if="g == 4 && a == true "> 

      <div class="card animated fadeInLeft">
     
       <div class="item item-text-wrap carddikeybosluk">
             
         <div class="bar bar-header bar-balanced">
               <h1 class="title">Hacim & Yarıçapa bağlı yükseklik</h1>
         </div><br><br><br>
     
           
        
         <div class="col col1"></div>
         
            
                     <div class="row row1">
                       <div class="col"><h4 class="d_ort">Toplam hacim</h4> </div>
                       <div class="col ">(m<sup>3</sup>/sa)</div>
                       <div class="col"> <input class="input3" type="number" ng-model="toplam_hacim1"></div>
                     </div>
                     <hr>
                       <div class="row row1">
                         <div class="col"><h4 class="d_ort">Konik oranı</h4></div>
                         <div class="col">%</div>
                         <div class="col"><input class="input3" type="number" ng-model="konik_oran1"></div>
                       </div>
                       <hr>
                     <div class="row row1">
                       <div class="col"><h4 class="d_ort">Yarıçap</h4></div>
                       <div class="col">m</div>
                       <div class="col"><input class="input3" type="number" ng-model="yaricap"></div>
                     </div>
                     <hr>
                     
                     {{error4}}
                    
         
         <button class="button button-full button-positive" ng-click="hacim_yuk_r(toplam_hacim1,konik_oran1,yaricap)">
         Hesapla
         </button>
         
                     <div class="row row1">
                       <div class="col"><h4 class="d_ort">Silindir hacim</h4></div>
                       <div class="col">(m<sup>3</sup>/sa)</div>
                       <div class="col">{{sil_hcm}} </div>
                     </div>
                     <hr>
                     <div class="row row1">
                       <div class="col"><h4 class="d_ort">Yarıçap</h4></div>
                       <div class="col">cm</div>
                       <div class="col">{{rcm}}</div>
                     </div>
                     <hr>
                     <div class="row row1">
                       <div class="col"><h4 class="d_ort">Silindir yükseklik</h4></div>
                       <div class="col">metre</div>
                       <div class="col">{{s_yuk_m}}</div>
                     </div> 
                     <hr> 
                     <div class="row row1">
                      <div class="col"><h4 class="d_ort">Silindir yükseklik</h4></div>
                      <div class="col">cm</div>
                      <div class="col">{{s_yuk_cm}}</div>
                    </div> 
                    <hr>
                    <div class="row row1">
                      <div class="col"><h4 class="d_ort">Konik hacim</h4></div>
                      <div class="col">(m<sup>3</sup>/sa)</div>
                      <div class="col">{{konik_hacim}}</div>
                    </div> 
                    <hr>
                     <div class="row row1">
                       <div class="col"><h4 class="d_ort">Konik yükseklik</h4></div>
                       <div class="col">m</div>
                       <div class="col">{{konik_yuk}}</div>
                     </div>
                     <hr>
                    <div class="row row1">
                      <div class="col"><h4 class="d_ort">Koniklik Açısı</h4></div>
                      <div class="col">derece</div>
                      <div class="col">{{koniklik_aci}}</div>
                    </div> 
                    <hr>          
                 </div>
             </div>
         </div>
     </div></div>


     <div  ng-if="g == 5 && a == true "> 

        <div class="card animated fadeInLeft">
       
         <div class="item item-text-wrap carddikeybosluk">
               
           <div class="bar bar-header bar-balanced">
                 <h1 class="title">Yarıçap & Yüksekliğe bağlı hacim</h1>
           </div><br><br><br>
       
             
          
           <div class="col col1"></div>
           
              
                       <div class="row row1">
                         <div class="col"><h4 class="d_ort">Yarıçap</h4> </div>
                         <div class="col ">m</div>
                         <div class="col"> <input class="input3" type="number" ng-model="r_5"></div>
                       </div>
                       <hr>
                         <div class="row row1">
                           <div class="col"><h4 class="d_ort">Silindir yükseklik</h4></div>
                           <div class="col">m</div>
                           <div class="col"><input class="input3" type="number" ng-model="s_h_5"></div>
                         </div>
                         <hr>
                       <div class="row row1">
                         <div class="col"><h4 class="d_ort">Konik yükseklik</h4></div>
                         <div class="col">m</div>
                         <div class="col"><input class="input3" type="number" ng-model="k_h_5"></div>
                       </div>
                       <hr>
                       
                       {{error4}}
                      
           
           <button class="button button-full button-positive" ng-click="(r_h_hacim(r_5,s_h_5,k_h_5))">
           Hesapla
           </button>
           
                       <div class="row row1">
                         <div class="col"><h4 class="d_ort">Yarıçap</h4></div>
                         <div class="col">cm</div>
                         <div class="col">{{rcm_5}} </div>
                       </div>
                       <hr>
                       <div class="row row1">
                         <div class="col"><h4 class="d_ort">Siindir yükseklik</h4></div>
                         <div class="col">cm</div>
                         <div class="col">{{s_yuk_cm_5}}</div>
                       </div>
                       <hr>
                       <div class="row row1">
                         <div class="col"><h4 class="d_ort">Konik yükseklik</h4></div>
                         <div class="col">cm</div>
                         <div class="col">{{k_yuk_cm_5}}</div>
                       </div> 
                       <hr> 
                       <div class="row row1">
                        <div class="col"><h4 class="d_ort">Silindir hacim</h4></div>
                        <div class="col">(m<sup>3</sup>/sa)</div>
                        <div class="col">{{s_v_5}}</div>
                      </div> 
                      <hr>
                      <div class="row row1">
                        <div class="col"><h4 class="d_ort">Konik hacim</h4></div>
                        <div class="col">(m<sup>3</sup>/sa)</div>
                        <div class="col">{{k_v_5}}</div>
                      </div> 
                      <hr>
                       <div class="row row1">
                         <div class="col"><h4 class="d_ort">Toplam hacim</h4></div>
                         <div class="col">(m<sup>3</sup>/sa)</div>
                         <div class="col">{{toplam_v_5}}</div>
                       </div>
                       <hr>
                      <div class="row row1">
                        <div class="col"><h4 class="d_ort">Koniklik Açısı</h4></div>
                        <div class="col">(m<sup>3</sup>/sa)</div>
                        <div class="col">{{k_aci_5}}</div>
                      </div> 
                      <hr>          
                   </div>
               </div>
           </div>
       </div></div>

       <li class="item item-toggle">
          <h3>Kare Tabanlı Konik Havuz </h3>
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="b" ng-init="b=false">
              <div class="track">
                <div class="handle"></div>
              </div>
          </label>
        </li>



       <label ng-if="b==true"  class="item item-input item-select" >
          <div class="input-label">  
            <h3>Hesap yönteminizi seçiniz. </h3>
          </div>
          <select ng-model="$parent.g1">
            <option value=1 >Hesap Hacim & Yüksekliğe bağlı kenar boyu </option>
            <option value=2 >Hesap Hacim & Kenar boyuna bağlı yükseklik</option>
            <option value=3 >Hacim & Yüksekliğe bağlı kenar boyu </option>
            <option value=4 >Hacim & Kenar Boyuna bağlı yükseklik</option>
            <option value=5 >Kenar Boyu & Yüksekliğe bağlı hacim</option>
          </select>
        </label>       


        <div  ng-if="g1 == 1 && b == true "> 

          <div class="card animated fadeInLeft">
         
           <div class="item item-text-wrap carddikeybosluk">
                 
             <div class="bar bar-header bar-balanced">
                   <h1 class="title">Hesap Hacim & Yüksekliğe bağlı kenar boyu </h1>
             </div><br><br><br>
         
               
            
             <div class="col col1"></div>
             
                
                         <div class="row row1">
                           <div class="col"><h4 class="d_ort">Kare hacim</h4> </div>
                           <div class="col ">(m<sup>3</sup>/sa)</div>
                           <div class="col"> {{c_s_v}}</div>
                         </div>
                         <hr>
                           <div class="row row1">
                             <div class="col"><h4 class="d_ort">Prizma hacim</h4></div>
                             <div class="col">(m<sup>3</sup>/sa)</div>
                             <div class="col">{{c_k_v}}</div>
                           </div>
                           <hr>
                         <div class="row row1">
                           <div class="col"><h4 class="d_ort">Kare yükseklik</h4></div>
                           <div class="col">m</div>
                           <div class="col"><input class="input3" type="number" ng-model="k_h"></div>
                         </div>
                         <hr>
                         
                         
                        
             
             <button class="button button-full button-positive" ng-click="konik_kare_hacim(k_h)">
             Hesapla
             </button>
             
                         <div class="row row1">
                           <div class="col"><h4 class="d_ort">Kare Yükseklik</h4></div>
                           <div class="col">cm</div>
                           <div class="col">{{kare_h_cm}} </div>
                         </div>
                         <hr>
                         <div class="row row1">
                           <div class="col"><h4 class="d_ort">Kare Kenar Boyu</h4></div>
                           <div class="col">m</div>
                           <div class="col">{{kenar_m}}</div>
                         </div>
                         <hr>
                         <div class="row row1">
                           <div class="col"><h4 class="d_ort">Kare Kenar Boyu</h4></div>
                           <div class="col">cm</div>
                           <div class="col">{{kenar_cm}}</div>
                         </div>
                         <hr>
                         <div class="row row1">
                           <div class="col"><h4 class="d_ort">Prizma yükseklik</h4></div>
                           <div class="col">derece</div>
                           <div class="col">{{prizma_h}}</div>
                         </div> 
                         <hr>
                         <div class="row row1">
                          <div class="col"><h4 class="d_ort">Koniklik Açısı</h4></div>
                          <div class="col">derece</div>
                          <div class="col">{{kare_konik_aci}}</div>
                        </div> 
                        <hr>
                        
                        
                     </div>
                 </div>
             </div>
         
          </div>


          <div  ng-if="g1 == 2 && b == true "> 

            <div class="card animated fadeInLeft">
           
             <div class="item item-text-wrap carddikeybosluk">
                   
               <div class="bar bar-header bar-balanced">
                     <h1 class="title">Hesap Hacim & Kenar boyuna bağlı yükseklik </h1>
               </div><br><br><br>
           
                 
              
               <div class="col col1"></div>
               
                  
                           <div class="row row1">
                             <div class="col"><h4 class="d_ort">Kare hacim</h4> </div>
                             <div class="col ">(m<sup>3</sup>/sa)</div>
                             <div class="col"> {{c_s_v}}</div>
                           </div>
                           <hr>
                             <div class="row row1">
                               <div class="col"><h4 class="d_ort">Prizma hacim</h4></div>
                               <div class="col">(m<sup>3</sup>/sa)</div>
                               <div class="col">{{c_k_v}}</div>
                             </div>
                             <hr>
                           <div class="row row1">
                             <div class="col"><h4 class="d_ort">Kare Kenar Boyu</h4></div>
                             <div class="col">m</div>
                             <div class="col"><input class="input3" type="number" ng-model="k_k_l"></div>
                           </div>
                           <hr>
                           
                           
                          
               
               <button class="button button-full button-positive" ng-click="konik_kare_hacim2(k_k_l)">
               Hesapla
               </button>
               
                           <div class="row row1">
                             <div class="col"><h4 class="d_ort">Kare Kenar Boyu</h4></div>
                             <div class="col">cm</div>
                             <div class="col">{{kare_l_cm}} </div>
                           </div>
                           <hr>
                           <div class="row row1">
                             <div class="col"><h4 class="d_ort">Kare Yükseklik</h4></div>
                             <div class="col">m</div>
                             <div class="col">{{kare_h_m2}}</div>
                           </div>
                           <hr>
                           <div class="row row1">
                             <div class="col"><h4 class="d_ort">Kare Kenar Boyu</h4></div>
                             <div class="col">cm</div>
                             <div class="col">{{kare_h_cm2}}</div>
                           </div>
                           <hr>
                           <div class="row row1">
                             <div class="col"><h4 class="d_ort">Prizma yükseklik</h4></div>
                             <div class="col">derece</div>
                             <div class="col">{{prizma_h2}}</div>
                           </div> 
                           <hr>
                           <div class="row row1">
                            <div class="col"><h4 class="d_ort">Koniklik Açısı</h4></div>
                            <div class="col">derece</div>
                            <div class="col">{{kare_konik_aci2}}</div>
                          </div> 
                          <hr>            
                       </div>
                   </div>
               </div>
           
            </div>

            <div  ng-if="g1 == 3 && b == true "> 

              <div class="card animated fadeInLeft">
             
               <div class="item item-text-wrap carddikeybosluk">
                     
                 <div class="bar bar-header bar-balanced">
                       <h1 class="title">Hacim & Yüksekliğe bağlı kenar boyu </h1>
                 </div><br><br><br>
             
                   
                
                 <div class="col col1"></div>
                 
                    
                             <div class="row row1">
                               <div class="col"><h4 class="d_ort">Toplam hacim</h4> </div>
                               <div class="col ">(m<sup>3</sup>/sa)</div>
                               <div class="col"> <input class="input3" type="number" ng-model="tplm_v"></div>
                             </div>
                             <hr>
                               <div class="row row1">
                                 <div class="col"><h4 class="d_ort">Konik Oranı</h4></div>
                                 <div class="col">%</div>
                                 <div class="col"><input class="input3" type="number" ng-model="knk_orn"></div>
                               </div>
                               <hr>
                             <div class="row row1">
                               <div class="col"><h4 class="d_ort">Kare Yükseklik</h4></div>
                               <div class="col">m</div>
                               <div class="col"><input class="input3" type="number" ng-model="h_kare"></div>
                             </div>
                             <hr>
                             
                             {{error7}}
                            
                 
                 <button class="button button-full button-positive" ng-click="konik_kare_hacim3(tplm_v,knk_orn,h_kare)">
                 Hesapla
                 </button>
                 
                             <div class="row row1">
                               <div class="col"><h4 class="d_ort">Kare Hacim</h4></div>
                               <div class="col">(m<sup>3</sup>/sa)</div>
                               <div class="col">{{kare_v}} </div>
                             </div>
                             <hr>
                             <div class="row row1">
                               <div class="col"><h4 class="d_ort">Kare Yükseklik</h4></div>
                               <div class="col">cm</div>
                               <div class="col">{{yuks_kare_cm}}</div>
                             </div>
                             <hr>
                             <div class="row row1">
                               <div class="col"><h4 class="d_ort">Kare Kenar Boyu</h4></div>
                               <div class="col">m</div>
                               <div class="col">{{kare_h_mt}}</div>
                             </div>
                             <hr>
                             <div class="row row1">
                               <div class="col"><h4 class="d_ort">Kare Kenar Boyu</h4></div>
                               <div class="col">cm</div>
                               <div class="col">{{kare_h_cmt}}</div>
                             </div> 
                             <hr>
                             <div class="row row1">
                              <div class="col"><h4 class="d_ort">Prizma Hacim</h4></div>
                              <div class="col">(m<sup>3</sup>/sa)</div>
                              <div class="col">{{prizma_v}}</div>
                            </div> 
                            <hr>
                           <div class="row row1">
                              <div class="col"><h4 class="d_ort"> Prizma Yükseklik</h4></div>
                              <div class="col">m</div>
                              <div class="col">{{h_prizma}}</div>
                            </div> 
                            <hr><div class="row row1">
                            <div class="col"><h4 class="d_ort">Koniklik Açısı</h4></div>
                            <div class="col">derece</div>
                            <div class="col">{{aci_kare_konik}}</div>
                          </div> 
                          <hr>            
                         </div>
                     </div>
                 </div>
             
              </div>



              <div  ng-if="g1 == 4 && b == true "> 

                <div class="card animated fadeInLeft">
               
                 <div class="item item-text-wrap carddikeybosluk">
                       
                   <div class="bar bar-header bar-balanced">
                         <h1 class="title">  Hacim & Kenar Boyuna bağlı yükseklik </h1>
                   </div><br><br><br>
               
                  
                   <div class="col col1"></div>
                   
                      
                               <div class="row row1">
                                 <div class="col"><h4 class="d_ort">Toplam hacim</h4> </div>
                                 <div class="col ">(m<sup>3</sup>/sa)</div>
                                 <div class="col"> <input class="input3" type="number" ng-model="tplm_v1"></div>
                               </div>
                               <hr>
                                 <div class="row row1">
                                   <div class="col"><h4 class="d_ort">Konik Oranı</h4></div>
                                   <div class="col">%</div>
                                   <div class="col"><input class="input3" type="number" ng-model="knk_orn1"></div>
                                 </div>
                                 <hr>
                               <div class="row row1">
                                 <div class="col"><h4 class="d_ort">Kare Kenar Boyu</h4></div>
                                 <div class="col">m</div>
                                 <div class="col"><input class="input3" type="number" ng-model="l_kenar"></div>
                               </div>
                               <hr>
                               
                               {{error8}}
                              
                   
                   <button class="button button-full button-positive" ng-click="konik_kare_hacim4(tplm_v1,knk_orn1,l_kenar)">
                   Hesapla
                   </button>
                   
                               <div class="row row1">
                                 <div class="col"><h4 class="d_ort">Kare Hacim</h4></div>
                                 <div class="col">(m<sup>3</sup>/sa)</div>
                                 <div class="col">{{v_kare}} </div>
                               </div>
                               <hr>
                               <div class="row row1">
                                 <div class="col"><h4 class="d_ort">Kare Kenar Boyu</h4></div>
                                 <div class="col">cm</div>
                                 <div class="col">{{kenar_l_cm}}</div>
                               </div>
                               <hr>
                               <div class="row row1">
                                 <div class="col"><h4 class="d_ort">Kare Yükseklik</h4></div>
                                 <div class="col">m</div>
                                 <div class="col">{{h_kare_m }}</div>
                               </div>
                               <hr>
                               <div class="row row1">
                                 <div class="col"><h4 class="d_ort">Kare Yükseklik</h4></div>
                                 <div class="col">cm</div>
                                 <div class="col">{{h_kare_cm}}</div>
                               </div> 
                               <hr>
                               <div class="row row1">
                                <div class="col"><h4 class="d_ort">Prizma Hacim</h4></div>
                                <div class="col">(m<sup>3</sup>/sa)</div>
                                <div class="col">{{v_przma}}</div>
                              </div> 
                              <hr>
                             <div class="row row1">
                                <div class="col"><h4 class="d_ort"> Prizma Yükseklik</h4></div>
                                <div class="col">m</div>
                                <div class="col">{{h_przma}}</div>
                              </div> 
                              <hr><div class="row row1">
                              <div class="col"><h4 class="d_ort">Koniklik Açısı</h4></div>
                              <div class="col">derece</div>
                              <div class="col">{{aci_kare_knk}}</div>
                            </div> 
                            <hr>            
                           </div>
                       </div>
                   </div>
               
                </div>


                <div  ng-if="g1 == 5 && b == true "> 

                  <div class="card animated fadeInLeft">
                 
                   <div class="item item-text-wrap carddikeybosluk">
                         
                     <div class="bar bar-header bar-balanced">
                           <h1 class="title">  Kenar Boyu & Yüksekliğe bağlı hacim </h1>
                     </div><br><br><br>
                 
                    
                     <div class="col col1"></div>
                     
                        
                                 <div class="row row1">
                                   <div class="col"><h4 class="d_ort">Kare Kenar Boyu</h4> </div>
                                   <div class="col ">m </div>
                                   <div class="col"> <input class="input3" type="number" ng-model="kenar_l_5"></div>
                                 </div>
                                 <hr>
                                   <div class="row row1">
                                     <div class="col"><h4 class="d_ort">Kare Yükseklik</h4></div>
                                     <div class="col">m</div>
                                     <div class="col"><input class="input3" type="number" ng-model="kare_h_5"></div>
                                   </div>
                                   <hr>
                                 <div class="row row1">
                                   <div class="col"><h4 class="d_ort">Prizma Yükseklik</h4></div>
                                   <div class="col">m</div>
                                   <div class="col"><input class="input3" type="number" ng-model="przm_h_5"></div>
                                 </div>
                                 <hr>
                                 
                                
                                
                     
                     <button class="button button-full button-positive" ng-click="konik_kare_hacim5(kenar_l_5,kare_h_5,przm_h_5)" > Hesapla </button>
                     
                     
                                 <div class="row row1">
                                   <div class="col"><h4 class="d_ort">Kare kenar boyu</h4></div>
                                   <div class="col">m</div>
                                   <div class="col">{{kare_knr_l}} </div>
                                 </div>
                                 <hr>
                                 <div class="row row1">
                                   <div class="col"><h4 class="d_ort">Kare Yükseklik</h4></div>
                                   <div class="col">cm</div>
                                   <div class="col">{{kare_yuks}}</div>
                                 </div>
                                 <hr>
                                 <div class="row row1">
                                   <div class="col"><h4 class="d_ort">Prizma Yükseklik</h4></div>
                                   <div class="col">m</div>
                                   <div class="col">{{przm_yuks}}</div>
                                 </div>
                                 <hr>
                                 <div class="row row1">
                                   <div class="col"><h4 class="d_ort">Kare Hacim</h4></div>
                                   <div class="col">(m<sup>3</sup>/sa)</div>
                                   <div class="col">{{kare_hcm}}</div>
                                 </div> 
                                 <hr>
                                 <div class="row row1">
                                  <div class="col"><h4 class="d_ort">Prizma Hacim</h4></div>
                                  <div class="col">(m<sup>3</sup>/sa)</div>
                                  <div class="col">{{przm_hcm}}</div>
                                </div> 
                                <hr>
                               <div class="row row1">
                                  <div class="col"><h4 class="d_ort"> Toplam Hacim</h4></div>
                                  <div class="col">(m<sup>3</sup>/sa)</div>
                                  <div class="col">{{toplam_hcm}}</div>
                                </div> 
                                <hr><div class="row row1">
                                <div class="col"><h4 class="d_ort">Koniklik Açısı</h4></div>
                                <div class="col">derece</div>
                                <div class="col">{{knk_aci}}</div>
                              </div> 
                              <hr>            
                             </div>
                         </div>
                     </div>
                 
                  </div>



                  <br><center><button class="button button-positive animated rollIn" ng-click = "konik()">Tank Tipi ve bekletme süreleri</button></center></br>

  </ion-content>
</ion-view>
