<ion-view view-title="Artemis Arıtım">
  <ion-content class="animated fadeInDown">
   




   <div class="card">
  <div class="item item-text-wrap">
<img class="full-image"src="/img/logo.png">
  </div>
</div>

<div class="list">

    <a class="item item-avatar" ng-repeat="playlist in playlists" href="#/app/{{playlist.adres}}">
      <img src="/img/log.png">
      <h2>{{playlist.title}}</h2>
      <p>{{playlist.title}}</p>
    </a>


</div>

<div class="card ">
  <div class="item item-text-wrap gifcard">
    <img class="full-image custom"src="/img/tenor.gif">
  </div>
</div>




  </ion-content>
</ion-view>
