<ion-view view-title="Artemis Arıtım">
  <ion-content class="animated fadeInDown">
   




   
  <div class="item item-text-wrap">
<img class="full-image"src="/img/logo.png">
  </div>


<div class="list">

    <a class="item item-avatar" ng-repeat="playlist in playlists" href="#/app/{{playlist.adres}}">
      <img src="/img/log.png">
      <h2>{{playlist.title}}</h2>
      <p>{{playlist.title}}</p>
    </a>


</div>
<br><br><br><br><br><br><br><br>


  </ion-content>
</ion-content>

<div class="row sosyal">
    <div class="col">
        <a class="tab-item sosyal_radius" href="https://www.instagram.com/artemisaritim">
            <img class="full-image custom"src="/img/instagram.jpg" >
        </a>
    </div>
    <div class="col">
        <a class="tab-item sosyal_radius" href="https://www.linkedin.com/company/artemisaritim/">
            <img class="full-image custom"src="/img/linkedin.jpg">
        </a>
    </div>
    <div class="col">
        <a class="tab-item sosyal_radius" href="https://www.facebook.com/artemisaritim">
            <img class="full-image custom"src="/img/facebook.jpg">
        </a>
    </div>
    <div class="col">
        <a class="tab-item sosyal_radius" href="https://twitter.com/artemisaritim">
            <img class="full-image custom"src="/img/twitter.jpg">
        </a>
    </div>
    <div class="col">
        <a class="tab-item sosyal_radius" href="https://www.youtube.com/artemisaritim">
            <img class="full-image custom"src="/img/youtube.jpg">
        </a>
    </div>
  </div>




</ion-view>
