<ion-view view-title="Biz Kimiz?">
  <ion-content class="animated fadeInDown">
    

    <div class="item item-text-wrap">
        <img class="full-image"src="/img/logo.png">
          

<br>

   1998 yılından günümüze arıtma tesisleri, su geri kazanım sistemleri ve
    birçok çevre teknolojileri konularında projelendirme ve uygulama hizmetleri 
    veren Artemis Arıtım, uluslararası bilgi ve tecrübeye sahip başarılı projelere 
    imza atan mühendisleriyle, güçlü referanslarıyla, YTÜ Teknopark Yerleşkesinde 
    bulunan ofisinde faaliyetlerini tüm hızıyla sürdürmeye devam etmektedir.
  </div>
<br><br>

<center><a href="https://www.artemisaritim.com/">www.artemisaritim.com</a></center>
<br>
<center><a href="https://info@artemisaritim.com"> info@artemisaritim.com</a></center>
<br>
<center>YTÜ Teknopark İkitelli Yerleşkesi</center>
<br>
<center>No:1/2B04 Başakşehir İstanbul</center>
<br>
<center>0212 657 7777</center>

<br>


  </ion-content>
    <div class="row sosyal">
        <div class="col">
            <a class="tab-item sosyal_radius" href="https://www.instagram.com/artemisaritim">
                <img class="full-image custom"src="/img/instagram.jpg" >
            </a>
        </div>
        <div class="col">
            <a class="tab-item sosyal_radius" href="https://www.linkedin.com/company/artemisaritim/">
                <img class="full-image custom"src="/img/linkedin.jpg">
            </a>
        </div>
        <div class="col">
            <a class="tab-item sosyal_radius" href="https://www.facebook.com/artemisaritim">
                <img class="full-image custom"src="/img/facebook.jpg">
            </a>
        </div>
        <div class="col">
            <a class="tab-item sosyal_radius" href="https://twitter.com/artemisaritim">
                <img class="full-image custom"src="/img/twitter.jpg">
            </a>
        </div>
        <div class="col">
            <a class="tab-item sosyal_radius" href="https://www.youtube.com/artemisaritim">
                <img class="full-image custom"src="/img/youtube.jpg">
            </a>
        </div>
      </div>
</ion-view>