<ion-view view-title="Standard Tank Hacim Hesabı">
  <ion-content class="animated rollIn">



<li class="item item-toggle">
  <h3>Havuz / Tank Boyutlandırma   </h3>
     <label class="toggle toggle-positive">
       <input type="checkbox" ng-model="havuz" ng-init="havuz=false">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
</li>

<div  ng-if="havuz == true" class="animated fadeInLeft"> 

 <div class="card">
   <div class="item item-text-wrap carddikeybosluk">
       <div class="bar bar-header bar-balanced">
           <h1 class="title">Havuz / Tank Boyutlandırma </h1>
     </div><br><br><br>

<div class="col col1"></div>


         <div class="row row1">
           <div class="col"><h4 class="d_ort">Debi</h4> </div>
           <div class="col col3">(m<sup>3</sup>/sa)</div>
           <div class="col"><input class="input3" type="number" ng-model="q"></div>
         </div>
         <hr>
         <div class="row row1">
           <div class="col"><h4 class="d_ort">Emniyet Payı</h4></div>
           <div class="col col3">%</div>
           <div class="col"><input class="input3" type="number" ng-model="e"></div>
         </div>
         <center> 
          <h5>
            <div style="color: red" ng-if="e < 25" class= "ng-hide" ng-hide="e==null">
             <div class="animated bounceInLeft">
               Emniyet Payı Literatürde en az %25
             </div>
           </div>
         </h5>
        </center>
        <center> 
          <h5>
            <div style="color: red" ng-if="e > 100">
             <div class="animated bounceInLeft">
               Oran 100'den büyük olamaz. 
             </div>
           </div>
         </h5>
        </center>
         <hr>
         <div class="row row1">
           <div class="col"><h4 class="d_ort">Bekleme Süresi</h4></div>
           <div class="col col3">Saat</div>
           <div class="col"><input class="input3" type="number" ng-model="s"></div>
         </div>
         <hr>
         <div class="row row1 ">
           <div class="col"><h4 class="d_ort">Bekleme Süresi</h4></div>
           <div class="col col3">Dakika</div>
           <div class="col"><input class="input3" type="number" ng-model="d"></div>
         </div>
   
         
        
<button class="button button-full button-positive" ng-click="hvz(q,e,s,d) " 
ng-model="deneme" ng-init="deneme=false" ng-Disabled= "e>100 || e == null || q == null ||  (s == null && d==null) " >
Hesapla
</button>
         <div ng-if="v_hvz" class="animated fadeInLeft">
           <div class="row row1">
             <div class="col"><h4 class="d_ort">Hacim </h4></div>
             <div class="col col3">(m<sup>3</sup>/sa)</div>
             <div class="col">{{v_hvz}} </div>
           </div>
           <hr>
         </div> 
         <div ng-if="v_hvz" class="animated fadeInLeft"> 
           <div class="row row1">
             <div class="col"><h4 class="d_ort">Emniyetli hacim</h4></div>
             <div class="col col3">(m<sup>3</sup>/sa)</div>
             <div class="col">{{e_v_hvz}}</div>
           </div>
           <hr>
         </div> 
          
       </div>
        <!--**********************************************************************************--> 
         
        <div class="animated fadeInLeft" ng-if="e_v_hvz">
           
             
         <li class="item item-toggle">
           <h3>Yüksekliğe göre yarıçap değişimi <br> (Silindir)  </h3>
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="silyukstd" ng-init="silyukstd=false">
               <div class="track">
                 <div class="handle"></div>
               </div>
           </label>
         </li>
     
   
           <div ng-if="silyukstd == true">

             <div class="card animated fadeInLeft ">
                 <div class="item item-text-wrap carddikeybosluk">
                       
                   <div class="row row1 animated fadeInLeft ">                  
                       <div class="col col-30"><h3 class="d_ort">Silindir yükseklik</h3 ></div>
                       <div class="col col-25 col3">m</div>
                       <div class="col col-45">
                           <div class="row rowbosluksuz">
                               <div class="col col2"><input class="input4" type="number" ng-model="sil_yuk_std"> </div>
                               <div class="col col2">
                                 <div >
                                   <button  class="button button-small button-positive" ng-Disabled=" sil_yuk_std == null" ng-click="swp_std(swipe_std,sil_yuk_std)">
                                     Hesapla                                        
                                   </button>
                                 </div> 
                               </div>
                           </div>                   
                       </div>
                   </div>

                   <div ng-if="sil_yuk_std">
                     <div class="item range range-positive animated fadeInLeft">
                       {{ust_std}}
                       <input  type="range" name="volume" min="0" max="100"  ng-Disabled= "r_m_std == null" ng-model="swipe_std" ng-change="swp_std(swipe_std,sil_yuk_std)">
                     </div>
                   </div>     
               
               <div ng-if="r_m_std">
                 <div class="row row1 animated fadeInLeft">
                   <div class="col"><h4 class="d_ort">Yarıçap</h4></div>
                   <div class="col">m</div>
                   <div class="col">{{r_m_std}} </div>
                 </div>
                 <hr>
               </div> 
               

               <div ng-if="r_m_std"> 
                 <div class="row row1 animated fadeInLeft">
                   <div class="col"><h4 class="d_ort">Yarıçap</h4></div>
                   <div class="col">cm</div>
                   <div class="col">{{r_cm_std}}</div>
                 </div>
                 <hr>
               </div>
             </div> 
           </div> 
         </div> 

            
<!--**************************************************************************************************************************-->
<li class="item item-toggle">
 <h3>Yarıçapa göre  yükseklik değişimi <br> (Silindir) </h3>
 <label class="toggle toggle-positive">
   <input type="checkbox" ng-model="cap_m" ng-init="cap_m=false">
     <div class="track">
       <div class="handle"></div>
     </div>
 </label>
</li> 
<div ng-if="cap_m == true">
   <div class="card animated fadeInLeft ">
       <div class="item item-text-wrap carddikeybosluk">

 <div class="row row1 animated fadeInLeft ">                  
   <div class="col col-30"><h3 class="d_ort">Silindir Yarıçap</h3></div>
   <div class="col col-25 col3">m</div>
   <div class="col col-45">
       <div class="row rowbosluksuz">
           <div class="col col2"><input class="input4" type="number" ng-model="cap1_std"> </div>
           <div class="col col2">
             <div >
               <button  class="button button-small button-positive" ng-Disabled=" cap1_std == null" ng-click="swp1_std(swipe1_std,cap1_std)">
                 Hesapla                                        
               </button>
             </div> 
           </div>
       </div>                   
   </div>
</div>

<div ng-if="cap1_std">
 <div class="item range range-positive animated fadeInLeft">
   {{ust1_std}}
   <input  type="range" name="volume" min="0" max="100"  ng-Disabled= "ust1_std == null" ng-model="swipe1_std" ng-change="swp1_std(swipe1_std,cap1_std)">
 </div>
</div> 


     <div ng-if="h_m_std" >
       <div class="row row1 animated fadeInLeft">
         <div class="col"><h4 class="d_ort">silindir yükseklik</h4></div>
         <div class="col">m</div>
         <div class="col">{{h_m_std}} </div>
       </div>
       <hr>
     </div>
     
     <div ng-if="h_cm_std"> 
       <div class="row row1 animated fadeInLeft">
         <div class="col"><h4 class="d_ort">Silindir yükseklik</h4></div>
         <div class="col">cm</div>
         <div class="col">{{h_cm_std}}</div>
       </div>
       <hr>
     </div>
     
              
   </div>       
 </div>           
</div>        


<!--******************************************************************************************************************-->
<li class="item item-toggle">
 <h3>En&boy değişimine göre yükseklik değişimi<br> (Dörtgen) </h3>
 <label class="toggle toggle-positive">
   <input type="checkbox" ng-model="std_drtgn" ng-init="std_drtgn=false">
     <div class="track">
       <div class="handle"></div>
     </div>
 </label>
</li> 
<div ng-if="std_drtgn == true">
   <div class="card animated fadeInLeft ">
       <div class="item item-text-wrap carddikeybosluk">

         <div class="row row1 animated fadeInLeft ">                  
            <div class="col col-30"><h3 class="d_ort">En</h3></div>
            <div class="col col-25 col3">m</div>
            <div class="col col-45">
              <input class="input4" type="number" ng-model="en_swp">                          
            </div>
        </div>
         <div ng-if="boy_swp && en_swp">
          <div class="item range range-positive animated fadeInLeft">
            {{ust2}}
            <input  type="range" name="volume" min="0" max="100"  ng-Disabled= "en_swp == null || boy_swp " ng-model="swipe2" ng-change="swp2(swipe2,kare_yuks)">
          </div>
        </div> 

   <div class="row row1 animated fadeInLeft ">                  
       <div class="col col-30"><h3 class="d_ort">Boy</h3></div>
       <div class="col col-25 col3">m</div>
       <div class="col col-45">
           <div class="row rowbosluksuz">
               <div class="col col2"><input class="input4" type="number" ng-model="boy_swp"> </div>
               <div class="col col2">
                 <div >
                   <button  class="button button-small button-positive" ng-Disabled="boy_swp && en_swp" ng-click="swp2(swipe2,kare_yuks)">
                     Hesapla                                        
                   </button>
                 </div> 
               </div>
           </div>                   
       </div>
   </div>

   <div ng-if="boy_swp && en_swp">
     <div class="item range range-positive animated fadeInLeft">
       {{ust2}}
       <input  type="range" name="volume" min="0" max="100"  ng-Disabled= "kare_h_cm == null" ng-model="swipe2" ng-change="swp2(swipe2,kare_yuks)">
     </div>
   </div> 


<div ng-if="kare_h_cm"> 
 <div class="row row1 animated fadeInLeft">
   <div class="col"><h4 class="d_ort">Kare Yükseklik</h4></div>
   <div class="col">cm</div>
   <div class="col">{{kare_h_cm}} </div>
 </div>
 <hr>
</div>


</div>
</div> 
</div>

</div>
</div>
</div>
</div>

<!--************************************************************-->

  <li class="item item-toggle">
     <h3>Silindir Havuz </h3>
     <label class="toggle toggle-positive">
       <input type="checkbox" ng-model="a" ng-init="a=false">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>



   <label class="item item-input item-select" ng-if="a==true" >
    <div class="input-label">  
      <h3>Hesap yönteminizi seçiniz. </h3>
    </div>
    <select ng-model="$parent.g">
      <option value=1 >Yüksekliğe bağlı yarıçap</option>
      <option value=2 >Yarıçapa bağlı yükseklik</option>
      <option value=3 >Yarıçap&yüksekliğe bağlı hacim</option>


    </select>
  </label>
</div>





<div  ng-if="g == 1 && a == true "> 
   
    <div class="card animated fadeInDown">
      <div class="item item-text-wrap">
   
        <h3>Yüksekliğe bağlı yarıçap</h3>
            <div class="row">
              <div class="col">Hacim (m3)</div>
              <div class="col">Yükseklik (cm)</div>
              <div class="col"></div>
            </div>


            <div class="row">
             <div class="col"><input class="input3" type="number" ng-model="v1"></div>
             <div class="col"><input class="input3" type="number" ng-model="h_cm" ></div>
             <div class="col"><button class="button button-small button-positive" ng-click="sil(h_cm,v1)">Hesapla</button></div>
             </div>

            <hr>

            <div class="row">
              <div class="col">yarıçap (m)</div>
              <div class="col">{{r_m}}</div>
              <div class="col">yarıçap (cm) </div>
              <div class="col">{{r_cm}}</div>
            </div>
            
      </div>
    </div>
</div>




<div  ng-if="g == 2 && a == true ">  
    <div class="card animated fadeInDown">
      <div class="item item-text-wrap">
   
        <h3>Yarıçapa bağlı yükseklik</h3>
            <div class="row">
              <div class="col">Hacim (m3)</div>
              <div class="col">Yarıçap (m)</div>
              <div class="col"></div>
            </div>


            <div class="row">
             <div class="col"><input class="input3" type="number" ng-model="v2"></div>
             <div class="col"><input class="input3" type="number" ng-model="rm" ></div>
             <div class="col"><button class="button button-small button-positive" ng-click="sil1(v2,rm)">Hesapla</button></div>
             </div>

            <hr>

            <div class="row">
              <div class="col">yarıçap (m)</div>
              <div class="col">{{h_m}}</div>
              <div class="col">yarıçap (cm) </div>
              <div class="col">{{h_cm}}</div>
            </div>
            
      </div>
    </div>
</div>


<div  ng-if="g == 3 && a == true " >  
    <div class="card animated fadeInDown">
      <div class="item item-text-wrap">
   
        <h3>Yarıçap&yüksekliğe bağlı hacim</h3>
            <div class="row">
              <div class="col">Yarıçap (m)</div>
              <div class="col">Yükseklik (m)</div>
              <div class="col"></div>
            </div>


            <div class="row">
             <div class="col"><input class="input3" type="number" ng-model="r1"></div>
             <div class="col"><input class="input3" type="number" ng-model="h2"></div>
             <div class="col"><button class="button button-small button-positive" ng-click="sil2(r1,h2)">Hesapla</button></div>
             </div>

            <hr>

            <div class="row">
              <div class="col">Hacim (m3)</div>
              <div class="col">{{v_m3}}</div>
            </div>
            
      </div>
    </div>
</div>


  <li class="item item-toggle">
     <h3>Dörtgen Havuz </h3>
     <label class="toggle toggle-positive">
       <input type="checkbox" ng-model="b" ng-init="b=false">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

   <label class="item item-input item-select" ng-if="b==true" >
    <div class="input-label">
    <h3>Hesap yönteminizi seçiniz. </h3>
    </div>
    <select ng-model="$parent.drtgn">
      <option value = 1 >En&boy&hacime bağlı yükseklik </option>
      <option value = 2 >En&boy&yüksekliğe bağlı hacim</option>
      
    </select>
  </label>

<div  ng-if="drtgn == 1 && b == true ">

    <div class="card animated fadeInDown">
      <div class="item item-text-wrap">
   
        <h3>En&boy&hacime bağlı yükseklik </h3>
            <div class="row">
              <div class="col">Hacim (m3)</div>
              <div class="col">En (m)</div>
              <div class="col">Boy (m)</div>
              <div class="col"></div>
            </div>


            <div class="row">
             <div class="col"><input class="input3" type="number" ng-model="hacim"></div>
            <div class="col"><input class="input3" type="number" ng-model="en"></div>
             <div class="col"><input class="input3" type="number" ng-model="boy"></div>
             <div class="col"><button class="button button-small button-positive" ng-click="drtg(hacim,en,boy)">Hesapla</button></div>
             </div>

            <hr>

            <div class="row">
              <div class="col">Yükseklik (m)</div>
              <div class="col">{{drtgn_h}}</div>
            </div>
            
      </div>
    </div>

</div>

<div  ng-if="drtgn == 2 && b == true ">  

    <div class="card animated fadeInDown">
      <div class="item item-text-wrap">
   
        <h3>En&boy&yüksekliğe bağlı hacim </h3>
            <div class="row">
              <div class="col">En (m)</div>
              <div class="col">Boy (m)</div>
              <div class="col">Yükseklik (m)</div>
              <div class="col"></div>
            </div>


            <div class="row">
             <div class="col"><input class="input3" type="number" ng-model="en1"></div>
            <div class="col"><input class="input3" type="number" ng-model="boy1"></div>
             <div class="col"><input class="input3" type="number" ng-model="d_h"></div>
             <div class="col"><button class="button button-small button-positive" ng-click="dortgen1(en1,boy1,d_h)">Hesapla</button></div>
             </div>

            <hr>

            <div class="row">
              <div class="col">Hacim (m3)</div>
              <div class="col">{{drtgn_v}}</div>
            </div>
            
      </div>
    </div>
</div>


<br><center><button class="button button-positive animated rollIn" ng-click = "showAlertcod()">Tank Tipi ve bekletme süreleri</button></center></br>






  </ion-content>
</ion-view>
