
.input2{
	width: 10% ;
	background: #e0e0e0;
	border-radius: 10px;
}
.input3{
	width: 90% ;
	background: #e0e0e0;
	border-radius: 10px;
}
.input4{
	width: 100% ;
	background: #e0e0e0;
	border-radius: 10px;
}
.row1{
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}
.col1{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.col2{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.col3{
    padding-top: 3%;
}
.d_ort{
	padding-top: 10%;
}
.carddikeybosluk{
    padding-top: 0px;
    padding-bottom: 0px;
}
.gifcard{
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0;
    margin-bottom: -6px;
    padding-bottom: 0px;

}
.custom{
    margin-bottom: -5px;
}
.deneme12{
    padding: 0px;
    margin: 0px;
    display: inline-block; 

}
.deneme123{
    padding: 0px;
    margin: 0px;
    display: inline-block; 
    width: 10px;
}
.rowbosluksuz{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
                            

